.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: var(--or);
}

.navbar__ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

.navbar__link {
    display: flex;
    align-items: flex-end;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--bk);
}

.navbar__link:hover {
    background-color: var(--bl);
    color: var(--bk);
    border-radius: 50px;
}



